#contacto-section {
  padding: 60px 30px;
  text-align: left;
  color: white;
  background: #020822;
}

#contacto-section h2{
  text-align: center;
}

#contacto-section h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  margin-bottom: 40px;
  color: white;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background: #070f2b;
  border-radius: 12px;
  padding: 20px;
  color: white;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 300px;
  font-family: "Bebas Neue", sans-serif;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.6rem;
  color: #ffd700;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.3rem;
  color: #ccc;
  margin-bottom: 8px;
}

.container{
  width: 100%;
  height: auto;
}

.contact-form{
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}


.mensajes-section {
  width: 100vw;
  max-width: 100vw;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
}

.mensajes-card {
  width: 90vw;
  max-width: 1020px;
  min-width: 320px;
  margin: 0 auto;
  border-radius: 1.5rem;
  box-shadow: 0 0 32px 0 rgba(0,0,0,0.3);
}

.mensajes-table {
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .mensajes-card {
    width: 98vw;
    padding: 0;
  }
  .mensajes-table {
    font-size: 1.1rem;
  }
}