<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<div id="planes-section">
    <h2 class="titulo">Planes Disponibles</h2>
    <div class="card-group row row-cols-1 row-cols-lg-4 g-4">
        <div class="card h-100 animate__animated">
            <h3 class="text-center">Plan Básico</h3>
            <img [src]="plan1" alt="Plan Básico" width="250">
            <ul>
                <li>Acceso a pesas</li>
                <li>Área de cardio</li>
                <li>Horarios libres</li>
            </ul>
            <p class="text-center"><strong>$399/mes</strong></p>
        </div>

        <div class="card h-100 animate__animated">
            <h3 class="text-center">Plan Intermedio</h3>
            <img [src]="plan2" alt="Plan Intermedio" width="250">
            <ul>
                <li>Pesas y cardio</li>
                <li>Sesiones con nutriólogo</li>
                <li>Clases de boxeo</li>
            </ul>
            <p class="text-center"><strong>$599/mes</strong></p>
        </div>

        <div class="card h-100 animate__animated">
            <h3 class="text-center">Plan Premium</h3>
            <img [src]="plan3" alt="Plan Premium" width="250">
            <ul>
                <li>Todo incluido del plan intermedio</li>
                <li>Clases personalizadas</li>
                <li>Acceso a spa y masajes</li>
            </ul>
            <p class="text-center"><strong>$899/mes</strong></p>
        </div>
    </div>
</div>


<div id="entrenadores-section">  
    <h2 class="titulo">Entrenadores</h2>
    @if (entrenadores.length > 0) {
    <div class="card-group row row-cols-1 row-cols-lg-5 g-4">
        @for (entrenador of entrenadores; track entrenador.nombre) {
        <div class="card h-100 animate__animated">
            <h3>{{ entrenador.nombre }}</h3>
            <img [src]="entrenador.image" alt="{{ entrenador.nombre }}" width="250">
            <p>Especialidad: {{entrenador.especialidad}}</p>
            <p>{{ entrenador.descripcion }}</p>
            <strong>Edad: {{ entrenador.edad }} años</strong>
        </div>
        }
    </div>
    } @else {
    <p>Cargando productos...</p>
    }
</div>
