<nav>
  <div class="logo">
    <img [src]="logoPath" alt="Logo">
   <p>"Querer es poder"</p>
  </div>
   
  
  <ul class="nav-links">
    <li><a [routerLink]="['/index']">Inicio</a></li>
    <li><a [routerLink]="['/servicios']">Servicios</a></li>
    <li><a [routerLink]="['/contacto']">Contacto</a></li>
    <li><a [routerLink]="['/horarios']">Horarios</a></li>
  </ul>
  
  <div class="user-section">
    @if (currentUser)
    {
      <div class="user-info">
        <span class="user-name">{{ currentUser.fullName }}</span>
        <img src="/user.png" alt="Usuario" class="user-avatar">
        <button (click)="logout()" class="logout-btn">Cerrar sesión</button>
      </div>
    }
    @else
    {
      <a [routerLink]="['/login']" class="login-link">
        <img src="login.png" alt="Login" class="login-icon">
      </a>
    }
  </div>
</nav>
